<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
    <ul class="nav pull-right">
      <li><%= link_to "Home", home_path%></li>
      <li><%= link_to "Help", help_path%></li>
      <li><%= link_to "SignIn", signin_path%></li>
    </ul>
    </nav>
  </div>
</div>
</header>
